/darkhorse-api/.classpath
/darkhorse-api/.project
/darkhorse-api/.settings
/darkhorse-api/target
/darkhorse-rest/.classpath
/darkhorse-rest/.project
/darkhorse-rest/.settings
/darkhorse-rest/target
/darkhorse-service/.classpath
/darkhorse-service/.project
/darkhorse-service/.settings
/darkhorse-service/target
